BasedOnStyle: Webkit
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 0
BreakBeforeBraces: Custom
# BreakBeforeBraces: Allman
BraceWrapping:
    AfterClass: false
    AfterCaseLabel: false
    AfterControlStatement: false
    AfterEnum: false
    AfterFunction: true
    AfterStruct: false
    AfterUnion: false
    BeforeLambdaBody: false
    BeforeWhile: false
    BeforeCatch: false
    BeforeElse: true
    SplitEmptyFunction: false
    SplitEmptyRecord: false

IndentCaseBlocks: false
IndentCaseLabels: false

AllowShortBlocksOnASingleLine: Always
# AllowShortCaseExpressionOnASingleLine: true
# AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false

PointerAlignment: Middle

UseTab: Never

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
# AlignConsecutiveShortCaseStatements: true

AlignTrailingComments: true
AlignOperands: true
AlignConsecutiveMacros: true

InsertBraces: false

MaxEmptyLinesToKeep: 2

QualifierAlignment: Custom
QualifierOrder: [inline, static, constexpr, type, const]

SpaceBeforeCpp11BracedList: true